.login {
	text-align: center;
}
.a {
	padding-left: 5px;
}
.form {
	display: flex;
	flex-direction: column;
	padding-left: 5px;
}
.remember {
	display: flex;
	margin-bottom: 5px;
}
.formInput {
	margin: 5px 0px;
}
.formSummaryError {
	padding: 5px;
	margin: 5px 0px;
	border: solid red 2px;
	color: red;
}
.captcha {
	height: 75px;
	width: 150px;
}
