.formControl input {
  width: 200px;
}
.formControl input[type="checkbox"] {
  width: 15px;
}
.formControl.error input,
.formControl.error textarea {
  margin-top: 5px;
  border: solid red 2px;
}
.formControl.error span {
  padding-left: 5px;
  color: red;
}
