.nav {
  grid-area: nav;
  background-image: url(../../img/menu_background.jpg);
}
ul {
  padding-top: 10px;
}
.item a {
  color: black;
  padding-left: 5px;
  text-decoration: none;
}
a.active {
  color: red;
}
