img {
  width: 100px;
}
div {
  display: flex;
  flex-direction: column;
}
button {
  margin-top: 5px;
  width: 100px;
}
.user {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}
.user_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border: 2px solid red;
  border-radius: 25px;
  margin: 20px 50px 20px 0px;
}
.name {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.name_name {
  margin-top: 10px;
}
.selected{
  font-weight: bold;
}
.pagesNumber{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.pageNumber{
  margin-left: 10px;
}