.header {
  grid-area: head;
  background: url(../../img/neon-grid.jpg);
  background-position: -280px -410px;
}
.login{
  float: right;
  margin-right: 10px;
  color:white;
}
.button {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
.img {
  width: 40px;
}